.mobile-info-bar {
    background-image: linear-gradient(45deg, #ed21cf, #7462ff, #4714f0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5rem;
    padding-top: 10vh;
    height: 20vh;
    flex-grow: 1;
    /* background-image: linear-gradient(45deg, #ed21cf, #7462ff, #4714f0); */
    background-color: rgba(66, 8, 72, 0.336);
}




.mobile-info-photo-wrapper {
    background-color: var(--color8);
    border-radius: 50%;
    overflow: hidden;
    height: 90%;
    aspect-ratio: 1/1;
    /* width: 30%; */
}

.mobile-info-photo-wrapper img {
    width: 100%;
}

.mobile-info-photo-wrapper img {
    transform: translateX(5px);
}

.mobile-info-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    color: white;
    font-family: Oswald, sans-serif;
    text-shadow: 2px 1px 5px rgba(74, 9, 80, 0.744);
}

.mobile-info-text-wrapper h2 {
    font-size: 2rem;
    font-family: 'Playwrite DK Uloopet';
}

.mobile-info-text-wrapper h3 {
    font-size: 1rem;
    background-color: white;
    background-clip: text;
    /* color: #2a3de6; */
}

.mobile-menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem;
    flex-grow: 3;
    gap: 0.2rem;
    min-height: 70vh;
    /* background-color: var(--color2); */
    background-image: linear-gradient(var(--color7), var(--color8));
}

.mobile-menu-nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    height: 50vh;
    width: 100%;
}

a:has(.mobile-nav-button) {
    width: 100%;
    text-align: center;
}

.mobile-nav-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: var(--color5);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    display: inline-flex;
    font-family: Oswald, sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    min-height: 4rem;
    width: 90%;
    /* justify-content: center; */
    line-height: 1;
    list-style: none;
    overflow: hidden;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    border: 1px solid black;
}

.mobile-nav-button:focus {
    box-shadow: #8210fd 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    border: 1px solid black;
}

.mobile-nav-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5f0c72 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #f7d0fe 0, #9607e3 100%);
    transform: translateY(-2px);
}

.mobile-nav-button:active {
    box-shadow: #a940ff 0 3px 7px inset;
    transform: translateY(2px);
}

.mobile-menu-back-button {
    background-color: red;
    justify-content: center;
    /* margin: 5rem 0rem; */
}


.mobile-menu-back-button:hover {
    background-image: radial-gradient(100% 100% at 100% 0, #f0bbbb 0, #ea2142 100%);
}
