img
{
    width: 100%;
}

#projects-landing-section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding:clamp(2rem, 10vw, 5rem);    
    padding-top: 80px   ;
    font-family: 'Oswald', sans-serif;
}

.projects-landing-post-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-landing-nav-area
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color5);
}

.subcont
{
    min-width: 10rem;
}

.preview-placeholder
{
    text-align: center;
}

.boltify-preview
{
    font-family: 'Open Sans' , sans-serif;
    font-weight: bolder;
    color: black;
    background-color: white;
    font-size: clamp(1.5rem, 10vw, 4rem);
    border-radius: 16px;
    transition: 0.2s;
}

.projects-post-container:hover .boltify-preview
{
    color: white;
    background-color: black;
}

.projects-post-container:hover .red-highlight
{
    color: orange;
}

.red-highlight
{
    color: red;
}