:root {
    --color1: #20123F;
    --color2: #e5ddee;
    --color3: #685790;
    --color4: #806BB0;
    --color5: #6A3ED9;
    --color6: #382173;
    --color7: #E0DDEE;
    --color8: #C3B2ED;
    --accent1: #c9d60ea5;
    --accent2: rgb(255, 233, 111);
    --accent3: #37bfe8;
}