:root {
    --color1: #20123F;
    --color2: #e5ddee;
    --color3: #685790;
    --color4: #806BB0;
    --color5: #6A3ED9;
    --color6: #382173;
    --color7: #E0DDEE;
    --color8: #C3B2ED;
    --accent1: #c9d60ea5;
    --accent2: rgb(255, 233, 111);
    --accent3: #37bfe8;
}

/*General Selectors*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-family: 'Inter';
}

p {
    font-size: 20px;
    font-family: "system-ui";
}


html,
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

.mobile-menu {
    display: none;
}

.hidden {
    display: none;
}

/*Buttons*/
.purple-btn {
    background-color: transparent;
    border-radius: 5px;
    width: 10rem;
    height: 4rem;
    border: 1px black solid;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.263);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.403);
}

.purple-btn:hover {
    background-color: white;
    color: var(--color5);
    transition: 0.1s;
}

.purple-btn:active {
    background-color: rgb(210, 210, 210);
    scale: 0.95;
}


.view-more-btn {
    background-color: transparent;
    border-radius: 5px;
    width: 10rem;
    height: 4rem;
    border: 1px black solid;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--color5);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.263);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.403);
}

.view-more-btn:hover {
    background-color: var(--color5);
    color: white;
    transition: 0.1s;
}


.view-more-btn:active {
    background-color: var(--color6);
    color: white;
    scale: 0.95;
}

.view-more-btn-clicked {
    background-color: transparent;
    border-radius: 5px;
    padding-bottom: 2.25rem;
    width: 100%;
    border: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--color5);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.263);
}
.nav-button {
    align-items: center;
    appearance: none;
    /* background-image: radial-gradient(100% 100% at 100% 0, #d400ff 0, #9427cf 100%); */
    background-color: var(--color5);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    display: inline-flex;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    height: 3.5rem;
    width: 10rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0.1rem 6rem;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    border: 1px solid black;
}

.nav-button:focus {
    box-shadow: #8210fd 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    border: 1px solid black;
}

.nav-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5f0c72 0 -3px 0 inset;
    background-color: yellow;
    background-image: radial-gradient(100% 100% at 100% 0, #f7d0fe 0, #9607e3 100%);
    transform: translateY(-2px);
}

.nav-button:active {
    box-shadow: #a940ff 0 3px 7px inset;
    transform: translateY(2px);
}

.mobile-menu-button{
    display: none;
    width: 20rem;
    margin-bottom: 3rem;
    height: 10vh;
    background-image: 
    linear-gradient(45deg, #d014a1, #5c2dd3, #8b1db9, #d014a1);
    animation: slow-purple-animation 15s ease-in-out infinite;
    background-size: 900% 900%;  
}


/*Navigation & Blog Logo*/



/*Main Page*/
main {
    max-width: 100vw;
    min-height: 100vh;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 5vw;
    padding: 10vw;
    padding-top: 10vh;
    width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.499);
    background-image: linear-gradient(var(--color7), var(--color8));
}

.post-area {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    /* opacity: 0.5; */
    position: relative;
}

.WIP-overlay
{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
}

.WIP-overlay:hover .WIP-wrapper
{
    scale: 1.1;
    transition: 0.2s;
}

.WIP-wrapper
{
    background-color: yellow;
    text-align: center;
    font-size: 3rem;
    border-radius: 16px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    transform: rotate(-45deg);
}



.category {
    width: fit-content;
    background-color: rgb(232, 232, 232);
    color: black;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    font-size: small;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.category:hover {
    color: #6A3ED9;
    font-weight: 500;
}

.post-container {
    will-change: transform;
    width: 30%;
    padding: 1rem;
    padding-top: 1rem;
    border-radius: 15px;
    min-height: min-content;
    /* height: 25rem; */
    text-decoration: none;
}

.post-container:hover {
    transform: scale(1.01);
    transition: 0.4s;
    /* text-shadow: 0 0 1px black; */
    background-color: #6a3ed984;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.500);
}

.post-container p {
    color: rgb(54, 54, 54);
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 1.25rem;
}

.post-container:hover p {
    color: white;
}

.post-container:hover h3 {
    color: white;
}

.post-container img {
    width: 100%;
    height: 60%;
    max-height: 12rem;
    aspect-ratio: 16/9;
    /* max-width: 400px; */
    /* max-height: 225px; */
    border-radius: 10px;
    object-fit: cover;
}

.post-container h3 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

/* Hero Section */

#hero-section #web-projects-link {
    background-color: white;
    padding: 0rem 0.5rem;
}
#hero-section #web-projects-link::after {
    content: "Web Developer";
    /* font-family: 'Merriweather', 'Times New Roman', Times, serif; */
    color: transparent;
    background-clip: text;
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, #ed21cf, #7462ff, #f0149c);
    animation: slow-purple-animation 5s ease-in-out infinite;
    }
    
#hero-section a:hover {
    color: cyan;
    transition: 0.1s;
}

.purple-section {
    /* background-color: var(--color5); */
    /* background-image: linear-gradient(45deg, #7c01ff, #8f67f6, #710aa0); */
    color: white;
    background-size: 900% 900%;  
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: 
    linear-gradient(45deg, #d01414, #5c2dd3, #8b1db9, #d01414);
    animation: slow-purple-animation 40s ease-in-out infinite;
}

@keyframes slow-purple-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: center;
    gap: 5rem;
    line-height: clamp(1rem, 5rem, 6rem);
    padding: 2rem;
    /* max-width: 60rem; */
}

.quick-nav-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

/* Blog Section */
#blog-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

#blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


/* Projects */


#projects-header {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#projects-section {
    /* padding: 3rem; */
    padding-bottom: 1rem;
    padding-top: 6rem;
}

#projects-area {
    height: 100%;
}

.projects-post-container {
    width: 50%;
    height: 50%;
}

.projects-post-container img {
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.projects-post-container h3 {
    font-size: 1.2rem
}

.projects-post-container p {
    font-size: 1rem;
}


/* Media Queries */

@media screen and (max-width: 986px) {
    .post-area {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .post-container {
        width: 100%;
        max-width: 35rem;
    }

    .content-section {
        flex-direction: column;
        padding: 10vw;
    }

    #hero-section {
        padding-top: 20vh;
        justify-content: space-around;
    }

    .hero-text-wrapper {
        padding: 0;
        line-height: normal;
        text-align: start;
    }

    .quick-nav-container, .nav-button{
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }


    #projects-section {
        flex-direction: column;
    }

    #projects-area {
        flex-direction: column;
    }

    .projects-post-container {
        width: 100%;
    }

}

@media screen and (max-width: 720px) {

    #hero-section {
        padding-top: 10vh;
    }

    .hero-text-wrapper {
        width: 22rem;
        text-align: center;
    }

    .hero-text-wrapper h2 {
        font-size: clamp(1rem, 2.5rem, 3.5rem);
    }

    .mobile-menu-open {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index:5;
        width: 100vw;
        animation: slow-purple-animation 40s ease-in-out infinite;
        height: 100vh;
    }
    
    .mobile-info-bar {
        background-image: linear-gradient(45deg, #ed21cf, #7462ff, #4714f0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1.5rem;
        padding-top: 10vh;
        min-height: 20vh;
        flex-grow: 1;
        /* background-image: linear-gradient(45deg, #ed21cf, #7462ff, #4714f0); */
        background-color: rgba(66, 8, 72, 0.336);
    }

    

    .mobile-info-photo-wrapper
    {
        background-color: var(--color8);
        border-radius: 50%;
        overflow: hidden;
        height: 90%;
        aspect-ratio: 1/1;
        /* width: 30%; */
    }
    .mobile-info-photo-wrapper img
    {
        width: 100%;
    }

    .mobile-info-photo-wrapper img{
        transform: translateX(5px);
    }
    
    .mobile-info-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 1rem; */
        color: white;
        font-family: Oswald, sans-serif;
        text-shadow: 2px 1px 5px rgba(74, 9, 80, 0.744);
        }
        
        .mobile-info-text-wrapper h2 {
            font-size: 2rem;
            font-family: 'Playwrite DK Loopet';
        }
        
        .mobile-info-text-wrapper h3 {
            font-size: 1rem;
            background-color: white;
            background-clip: text;
            /* color: #2a3de6; */
        }

    .mobile-menu-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-grow: 3;
        gap: 0.2rem;
        min-height: 70vh;
        /* background-color: var(--color2); */
        background-image: linear-gradient(var(--color7), var(--color8));
    }

    .mobile-nav-button {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        align-items: center;
        background-color: var(--color5);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        color: #fff;
        display: inline-flex;
        font-family: Oswald, sans-serif;
        font-weight: bolder;
        font-size: 1.4rem;
        height: 5rem;
        width: 90%;
        /* justify-content: center; */
        line-height: 1;
        list-style: none;
        overflow: hidden;
        transition: box-shadow .15s, transform .15s;
        touch-action: manipulation;
        border: 1px solid black;
    }

    .mobile-nav-button:focus {
        box-shadow: #8210fd 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        border: 1px solid black;
    }
    
    .mobile-nav-button:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5f0c72 0 -3px 0 inset;
        background-image: radial-gradient(100% 100% at 100% 0, #f7d0fe 0, #9607e3 100%);
        transform: translateY(-2px);
    }
    
    .mobile-nav-button:active {
        box-shadow: #a940ff 0 3px 7px inset;
        transform: translateY(2px);
    }

    .mobile-menu-back-button {
    background-color: red;
    justify-content: center;
    margin: 5rem 0rem;
    }

    
    .mobile-menu-back-button:hover {
        background-image: radial-gradient(100% 100% at 100% 0, #f0bbbb 0, #ea2142 100%);
        }


}
/*
#hero-section {
    background-image: linear-gradient(45deg, #a146c2, #7462ff, #922bed, #7462ff);
    color: white;
    background-size: 900%;
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: slow-purple-animation 30s ease-in-out infinite;
}

@keyframes slow-purple-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


*/

/* Optional Hover Effects */
/* .white-nav:hover
{
    background-color: #6A3ED9;
    transition: 0.1s;
}

.white-nav:hover #blog-logo-container h1
{
    color: white;
    transition: 0.1s;
}

.purple-nav:hover
{
    background-color: rgb(238, 235, 241);
    transition: 0.1s;
}

.purple-nav:hover #blog-logo-container h1
{
    color: transparent;
    background-image: linear-gradient(var(--color5), var(--color6));
    background-clip: text;
    transition: 0.1s;
} */