:root
{
    --color1: #20123F;
    --color2: #e5ddee;
    --color3: #685790;
    --color4: #806BB0;
    --color5: #6A3ED9;
    --color6: #382173;
    --color7: #E0DDEE;
    --color8: #C3B2ED;
    --accent1: #c9d60ea5;
    --accent2: rgb(255, 233, 111);
    --accent3: #37bfe8;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: var(--color7);
    height: 100vh;
    width: 100vw;
}

body
{
    overflow-x: hidden;
}

/* Navigation & Blog Logo */
nav
{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    height: 4.2rem;
    width: 100%;
    justify-content: center;
    z-index: 10;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.403);
}

.nav-container
{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#blog-logo-container
{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 10;
}
#blog-logo
{
    margin-right: 0.5rem;
    width: 3rem;
    z-index: 10;
}

#blog-logo-container h1
{
    font-family: "Oswald";
    font-size: 3rem;
    margin-top: -0.4rem;
    text-wrap: nowrap;
}

.white-nav
{
    background-color: rgb(238, 235, 241);
    transition: 0.1s;
}

h1.white-nav
{
    color: transparent;
    background-image: linear-gradient(var(--color5), var(--color6));
    background-clip: text;
    transition: 0.1s;
}

.purple-nav
{
    background-color: #6A3ED9;
    transition: 0.1s;
}

h1.purple-nav
{
    color: white;
    transition: 0.1s;
}   

.back-button
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 5rem;
    border-radius: 50px;
    background-color: var(--color5);

}
/* Main Page */
main
{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 7rem;
}

/* .side-section
{
    height: 100vh;
    width: 105rem;
} */

article
{
    min-width: 20rem;
    max-width: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 1rem; */
}

article h1
{
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: var(--color5);
    margin-bottom: 0.5rem;
}

h2
{
    color: var(--color6);
    margin-bottom: 4rem;
}

p
{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    /* padding: 3rem 15rem; */
}