html, body
{
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Utilities */


/* Main */
section
{
    min-height: 100vh;
}

#landing-section
{
    background-image: url(imgs/landing/landing.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title-text
{
    font-family: "Kdam Thmor Pro", inter, sans-serif;
}